body {
  font-weight: 200;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list-item {
  padding: 1em;
}
.create-btn {
  background: coral;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5%;
  font-size: 1rem;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}

.create-btn-wrapper {
  list-style: none;
}