<html>

<head>
    <title>
        {{# if loggedin}}
        Welcome {{emailAddress}}
        {{else }}
        Blog App
        {{/if}}
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <h1>Blog Login</h1>
    </div>

    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <ul>
                {{# if loggedin}}
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/createArticles">Create Article</a></li>
                {{else }}
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>

                {{/if}}
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>

</html>