<div>
    <h1>Articles</h1>
    <form action="/articles" method="post">
        <div>
            <label>Title: </label>
            <input type="text" name="title" />
        </div>
        {{!-- <div>
            <label>Author: </label>
            <input type="text" name="author" />
        </div> --}}
        <div>
            <label>Article: </label>
            <textarea name="article" cols="40" rows="25"></textarea>
        </div>
        <div>
            <input type="submit" value="Post Article" />
        </div>
    </form>
</div>